<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559523781574-nkvoamo9nlg482afct3v2mhfr4eibspf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559523781574-nkvoamo9nlg482afct3v2mhfr4eibspf</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Uu4ZJssGpS_Pz1Q2jjaf3qzAwTRLoW4</string>
	<key>GCM_SENDER_ID</key>
	<string>559523781574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Unikan.Utapp</string>
	<key>PROJECT_ID</key>
	<string>utappdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>utappdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
</dict>
</plist>
